
#base{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.menulink{
    text-align: center;
    font-size: 8em;
    
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}

#dibubots{
    font-family: 'VT323', monospace;
    
}

#arboles{
    font-family: 'Amatic SC', cursive;
    }

#arbolimg{
    height: 110px;
    transform: translateX(62px);
    z-index: -1;
    position: relative;
}

#cesar{
    font-family: 'Tangerine', cursive;
}

#cesarimg{
    width: 90px;
    height: 110px;
    transform: translateX(520px);
    opacity: 0.3;
}

#variables{
    font-family: 'Major Mono Display', monospace;
    font-size: 70px;
    padding-left: 25vw;
}


/* Colores de los enlaces: */
a:hover{
    color: #f4ebc1;
}
